[Unit]
Description=Set the CS4208 speaker hardware mixer for software volume
After=sound.target

[Service]
Type=oneshot
ExecStart=/usr/bin/amixer -c0 sset Master 100%% unmute
ExecStart=/usr/bin/alsactl store 0

[Install]
WantedBy=multi-user.target
